* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul{
    position: relative;
    background: rgba(134, 131, 131, 0.993);
    height: 40px;
    text-align: center;
    margin: auto;
    padding: 10px;
}

 li{
     display: inline-block;
 }

 li a{
     color: white;
     text-decoration: none;
     padding: 10px;
 }

 li a:hover{
     background: #ccc;
     color: black;
     height: 40px;
     border-radius: 10px;

 }


.ex01{
    width: 500px;
    height: 200px;
    background: blue;
    color: white;
    
}

.ex02{
    overflow: auto;
    border: 1px solid black;
    width: 650px;
    height: 300px;
    margin: 20px;
    padding: 10px;
}

img{
    width: 300px;
    height: 300px;
    float: left;
   
}

.pragrafo{
    width: 300px;
    height: 300px;
   float: right;

}

/*Aula 19 - Propriedade Opacity*/ 

.foto{
   overflow: auto;
}
.img1:hover{
    opacity: 0.5;
}


.img2{
    opacity: 1;
}


.img3{
    opacity: 1;
}

a.btn{
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 15px;
    background: green;
    color: white;
    text-decoration: none;
}
a.btn:hover{
    opacity: 0.8;
}


/*Efeito dropdown*/

 li a, .dropbtn{
     color: white;
     text-decoration: none;
     padding: 10px;
 }

 li a:hover, .dopdown:hover .dropbtn{
     background: rgb(230, 122, 122);
     color: black;
     height: 40px;
     border-radius: 10px;

 }

 li.dropdown{
     display: inline-block;
 }

 .dropdown-content{
     display: none;
     position: absolute;
     background: white;
     width: 150px;
 }

 .dropdown-content a{
     
     color: black;
     display: block;
     text-align: left;
     border: 1px solid #ccc;
 }

  .dropdown:hover .dropdown-content{
    display: block;
  }