* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.header{

    background: rgb(60, 99, 3);
    padding: 80px;
    text-align: center;
    color: white;

}

.navbar{
    display: flex;
    justify-content: center;
    background: black;

}

.navbar a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover{
    background: gray;
    color: black;
    font-weight: bold;
}

.corpo{
    display: flex;
    flex-flow: row wrap;
}

.card{
    flex: 48%;
    background: #ccc;
    height: 400px;
    margin: 1%;
}


@media screen  and (max-width:700px){
    .navbar{
        flex-direction: column;
    }
    
}

