* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   
}

body {
 
  font-family: Arial, Helvetica, sans-serif;
  background: #eeeeee;
}


h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 90%;
  /* border:1px solid red;*/
  margin: auto auto;

}

input {

  height: 70px;
  font-size: 1.5rem;
  width: 70%;
  padding-left: 10%;
  border-radius: 15px;
  border: none;
}

button.add {
  width: 20%;
  cursor: pointer;
  background: rgb(28, 0, 128);
  color: white;
  font-weight: bold;
  border: none;
  height: 70px;
  margin-left: 5px;
  border-radius: 15px;
  /*
  border-top-right-radius: 15px;
  border-bottom-right-radius: 10px;
  */    

}

main {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: auto auto;
  /* border:1px solid blue;*/
  padding-top: 40px;
}

.item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: white;
  height: 70%;
  width: 90%;
  box-shadow: 0 0 20px #ccc;
  margin-bottom: 2%;
  cursor: pointer;
  border-radius: 15px;
  padding-left: 10%;
}

.item.clicado {
  background: #d4f6d9;
}

.item.clicado .item-nome {
  text-decoration: line-through;
  color: gray;
}

.item-icone {
  flex: 20%;
  /* border:1px solid orangered;  */
  text-align: center;
  font-size: 2rem;
}

.item-nome {
  flex: 55%;
  /* border:1px solid deeppink;  */
  font-size: 20px;
  font-weight: bold;
}

.item-botao {
  flex: 25%;
  /* border:1px solid green;    */
}

.delete {
  background: rgb(179, 7, 44);
  color: white;
  border: none;
  padding: 10px;
  height: 70px;
  width: 100%;
  cursor: pointer;
  margin-left: 0px;
  border-radius: 15px;
  
}

.mdi-check-circle {
  color: rgb(34, 192, 34);
}

footer {
  display: flex;
  flex-flow: row-wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: rgb(37, 36, 36);
  height: 40px;
  width: 100%;
}

footer a {
  color: white;
}

footer i {
  color: red;
  font-size: 22px;
}
